   @import url('https://fonts.googleapis.com/css?family=Roboto');
    :root {
       /*===============Cores  Serem usadas====================*/
       --cor-preto: #000000;
       --cor-de-fundo: #F2F2F2;
       --cor-letra: #0f0f0f;
       --cor-botao: #404040;
       --cor-branca: #ffffff;
       --cor-cinza-claro: #D3D3D3;
   }
   /*================classes Global==================*/
   
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   
   a {
       text-decoration: none;
   }
   
   li {
       list-style: none;
   }
   
   .blog {
       display: flex;
       flex-direction: row;
       font-family: 'Roboto', sans-serif;
       line-height: 1.4;
   }
   /*===============Codigos identicos=================*/
   
   .cabecalho .menu ul li a p,
   .rodape p {
       color: #ffffff;
       text-align: center;
   }
   /*==========================FIM===========================*/
   /*===========================Estilos da 1º parte*=================*/
   
   .cabecalho {
       position: fixed;
       height: 100%;
       width: 100px;
       background-color: #000000;
   }
   
   #logo {
       height: 100px;
   }
   
   .menu {
       position: relative;
   }
   
   #logo img {
       position: absolute;
       width: 200%;
       left: 40px;
   }
   
   .menu ul li a img {
       width: 1.8rem;
       margin-left: 1.5rem;
   }
   
   .menu ul li a .contacto {
       width: 1.3rem;
   }
   
   .menu ul li:hover {
       /*  background-color: var(--cor-cinza-claro);*/
       box-shadow: 0 2px 0 #ffffff;
       cursor: pointer;
   }
   
   .menu ul li {
       padding: 0.8rem;
   }
   /*==========================FIM===========================*/
   /*==========estilos da 2ªparte ===============*/
   
   .container_principal {
       width: 100%;
   }
   
   .imagem_capa {
       background: url('../img/capa.jpg')no-repeat center center/cover;
       background-attachment: fixed;
       width: 100%;
       height: 800px;
   }
   /*==========================FIM===========================*/
   /*=====??parte=====*/
   /*==========================FIM===========================*/
   /*=====estilos da 5ªparte rodape=====*/
   
   .rodape {
       position: relative;
       background-color: #000000;
       height: 70px;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       bottom: 0;
   }
   
   .cabecalho .menu ul li a p {
       font-size: 10pt;
   }
   
   .rodape img {
       position: absolute;
       width: 30px;
       right: 100px;
       top: 25px;
   }
   /*==========================FIM===========================*/
   /*=====***=====*/
   /*==========================FIM===========================*/